
.content{
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
  background: #212529;

}

.left-c{
  color: #fff;
  padding-right: 5rem;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: 3px solid yellow;
}
.left-c h2{
  font-size: 4rem;
  padding-right: 2rem;
  color: yellow;
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;


}
.left-c p{
  padding-right: 2rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  
}
.right-c img{
  width: 1458px;
  height: 350px;
  border-radius: 5px;
  animation-name: learn;
  animation-duration: 2s;
}
@media all and (max-width: 480px) {
  .content{
    display: block;
  }
}
@keyframes learn {
  from {opacity: 0;}
  to {opacity: 1;}
 }